.S_Store
node_modules/
functions/node_modules/
functions/dist/**/*

*-debug.log
firebase-debug.log
firestore-debug.log
functions-debug.log

.runtimeconfig.json

functions/config/config.*
functions/dist/
functions/package-lock.json
functions/.env
functions/.env.*
