		// PROJECTS
		// -------------------------

		match /projects/{projectId} {
			allow read: if request.auth.uid != null;

			allow create: if validCreatorId()
			 							&& isSignedIn()
			 							&& isProject(request.resource.data);

			allow delete: if request.auth.uid == resource.data.creator.uid;
		}

		function isProject(doc) {
			return doc.size() == 4
			&& doc.name is string
			&& doc.description is string
			&& doc.uid is string
			&& doc.creator is map
			&& doc.creator.size() == 1
			&& doc.creator.uid is string;
		}

