		// USERS
		// ----------------------------
		match /users/{userId} {
			allow read: if isSelf(userId) || isPublic();
			allow create: if request.auth.uid == userId && request.resource.data.createdAt == request.time;
		}

		function isUser(doc) {
			return doc.size() == 3
			&& doc.private is bool
			&& doc.username is string
			&& doc.avatar_url is string
		}

