		// USERS
		// ----------------------------
		match /users/{userId} {
			allow read: if true;
		}

		function isUser(doc) {
			return doc.size() == 3
			&& doc.uid is string
			&& doc.displayName is string 
			&& doc.private is bool
			&& doc.username is string
			&& doc.avatar_url is string
		}

