rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		// USERS
		// ----------------------------
		match /users/{userId} {
			allow read: if isSelf(userId) || isPublic();
			allow create: if request.auth.uid == userId && request.resource.data.createdAt == request.time;
		}

		function isUser(doc) {
			return doc.size() == 3
			&& doc.private is bool
			&& doc.username is string
			&& doc.avatar_url is string
		}


		//  UTILS 
		// --------------------------
		function requestor() { return request.auth }
		function requestorEmail() { return requestor().token.email }
		function requestorEmailIsVerified() { return requestor().token.email_verified }

		function incomingData() { return request.resource.data }
		function existingData() { return resource.data }

		function isSelf(uid) { return requestor().uid == uid } 
		function isSignedIn() { return requestor() != null }

		function madeBySelf(uid) { return requestor().uid == existingData().creator.id }
		function isPublic() { return existingData().isPrivate == false }

  }
}